* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form__group {
    width: 50%;
    margin: 2rem auto;
}

.w-20 {
    width: 20%;
}

.display-3 {
    font-size: 3rem;
}

.form-bt-1.active {
    display: block;
}

#BT-1 {
    display: none;
}

#BT-1.active {
    display: block;
}

#BT-2 {
    display: none;
}

#BT-2.active {
    display: block;
}

#BT-3 {
    display: none;
}

#BT-3.active {
    display: block;
}

#BT-4 {
    display: none;
}

#BT-4.active {
    display: block;
}

#BT-5 {
    display: none;
}

#BT-5.active {
    display: block;
}